@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");

.wrapper {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Bowlby One", cursive;
}
* {
  margin: 0;
  padding: 0;
}

.homeWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: black;
  
}
