@import '../../styles/styles.module.scss';

.voting {
  position: fixed;
  top: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f43b64;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
  z-index: 20;
  width: 80vw;
  height: 90vh;
  .wrapperHeader{
    text-align: center;
    p{
      font-size: 1.2rem;
    }
    span{
      font-size: 0.8rem;
    }
  }
  .player{
    gap: 12px;
    display: flex;
  }
  
  &.show {
    display: block;
  }
  &.hidden {
    display: none;
  }
}
