.voting{
        position: fixed;
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 6px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 1px 30px rgba(0, 0, 0, 0.25);
        z-index: 20;
        width: 80vw;
        height: 90vh;
        &.show {
          display: block;
        }
        &.hidden {
          display: none;
        }
}