@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");
@import '../../styles/styles.module.scss';

.wrapper {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Bowlby One", cursive;
}

* {
  margin: 0;
  padding: 0;
}
.lobyWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: black;
  .loby {
    position: relative;
    background-color: #ff9e04;
    width: 100%;
    max-width: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .startBtn{
      margin-top: 24px;
      background-color: $success;
    }
    .hashWrapper {
      display: flex;
      position: relative;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      div{
        text-decoration: none;
        text-transform: uppercase;
        position: fixed;
        top: 12px;
        font-size: 0.8rem;
        color: black;
        -webkit-text-strokeWidth: 0.5px;
      }
      span {
        position: fixed;
        top: 50px;
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 1rem;
        padding: 12px 24px;
        background: #f43b64;
        color: #fffbe6 !important;
        border-radius: 4px;
        border: 2px solid #000000;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-text-strokeWidth: 0.7px;
        //   -webkit-text-strokeWidth: 0.10vw;
        //   -webkit-text-stroke-color: #000;
        box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);
        transition: background-color 0.5s;
        transition: transform 0.5s;
      }
    }
  }
}
