.playerList {
  display: flex; 
  border-radius: 12px;
  .playersWrapper {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    gap: 12px;
    margin: 12px 0px;
    .player {
      display: flex;
      align-items: center;
      margin: 0 12px;
      flex-direction: row;
      justify-content: space-between;
      background-color: #c038f5;
      border: 2px solid black;
      font-size: 1rem;
      padding: 12px 0px;
      color: #fffbe6;
      border-radius: 4px;
      text-transform: uppercase;
      -webkit-text-strokeWidth: 0.6px;
      box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);
      .iconsWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        padding: 0 6px;
        svg {
          color: black;
          width: 15px;
          height: 15px;
        }
      }
      span {
        margin: 0 6px;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
      }
      .circle {
        margin: 0 12px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: gray;
      }
    }
  }
}
